mat-card {
  margin: auto;
}

.loginBoxContainer {
  max-width: 350px;
}

.formFieldContainer {
  display: flex;
  align-items: center;

  mat-icon {
    margin-right: 10px;
  }

  mat-form-field {
    width: 300px;
  }
}

button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;

  img {
    height: 24px;
    margin-right: 6px;
  }
}
