<section>
  <mat-card class="loginBoxContainer">
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form role="form"
            [formGroup]="form"
            novalidate
            (ngSubmit)="login()">

        <div class="formFieldContainer">
          <mat-icon>account_box</mat-icon>
          <mat-form-field>
            <input matInput
                   formControlName="username"
                   required="required"
                   type="text"
                   placeholder="Username">
          </mat-form-field>
        </div>

        <div class="formFieldContainer">
          <mat-icon>lock</mat-icon>
          <mat-form-field>
            <input matInput
                   formControlName="password"
                   required="required"
                   type="password"
                   placeholder="Password">
          </mat-form-field>
        </div>

        <div class="buttonContainer">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            class="logBtn">
            Login
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</section>
