<header>
  <mat-toolbar>
    <span>
      Awesome Conference
    </span>

    <ng-container *ngIf="(authState$ | async) as user; else anonymous">
      <span class="username">{{ user.email }}</span>
      <span (click)="signOut()">Log out</span>
    </ng-container>

    <ng-template #anonymous><a [routerLink]="['/login']">Login</a></ng-template>
  </mat-toolbar>
</header>
<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <mat-toolbar>
    <span class="authors">Awesome Conference brought to you by jbj and rr.</span>
  </mat-toolbar>
</footer>
