<div class="wrapper">
  <header class="mainHeader">
    <mat-toolbar>
      <span>
        Awesome Conference
      </span>

      <div class="userBlock">
        <ng-container *ngIf="(authState$ | async) as user; else anonymous">
          <div class="username">{{ user.email }}</div>
          <div class="userPhotoContainer" [matMenuTriggerFor]="authMenu">
            <img *ngIf="user.photoURL" class="userPhoto" [src]="user.photoURL" alt="userPhoto">
            <div *ngIf="!user.photoURL" class="photoPlaceholder">{{ user.email[0].toUpperCase() }}</div>
          </div>

          <mat-menu #authMenu="matMenu">
            <button mat-menu-item (click)="signOut()"><mat-icon>power_settings_new</mat-icon>logout</button>
          </mat-menu>
        </ng-container>

        <ng-template #anonymous>
          <a [routerLink]="['/login']">
            <button mat-raised-button>Login</button>
          </a>
        </ng-template>
      </div>
    </mat-toolbar>
  </header>

  <section class="content">
    <router-outlet></router-outlet>
  </section>

  <footer class="mainFooter">
    <mat-toolbar>
      <span class="authors">Awesome Conference brought to you by jbj and rr.</span>
    </mat-toolbar>
  </footer>
</div>
