.wrapper {
  display: grid;
  min-height: 100%;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "content"
    "footer";
}

.mainHeader {
  $photoSize: 52px;
  $photoRadius: $photoSize / 2;

  $noUserBgColor: darkred;
  $noUserTextColor: white;

  grid-area: header;

  .userBlock {
    max-height: 100%;
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  .userPhotoContainer {
    height: $photoSize;
    width: $photoSize;
    display: flex;
    align-items: center;
    margin: 0 10px;
    cursor: pointer;

    .userPhoto, .photoPlaceholder {
      height: $photoSize;
      width: $photoSize;
      border-radius: $photoRadius;
    }

    .photoPlaceholder {
      background-color: $noUserBgColor;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $noUserTextColor;
      font-size: 24px;
    }
  }

  .username {
    font-size: 13px;
  }

  button a {
    text-decoration: none;
  }

  mat-toolbar {
    display: flex;
    align-items: center;
  }
}

.content {
  padding: 20px;
  grid-area: content;
}

.mainFooter {
  grid-area: footer;
}
