<div class="wrapper">
  <header class="mainHeader">
    <mat-toolbar>
      <span>
        Awesome Conference
      </span>

      <div class="userBlock">
        <ng-container *ngIf="(authState$ | async) as user; else anonymous">
          <span class="username">{{ user.email }}</span>
          <button mat-button (click)="signOut()" class="logout">
            <a>logout<mat-icon>power_settings_new</mat-icon></a>
          </button>
        </ng-container>

        <ng-template #anonymous>
          <a [routerLink]="['/login']">
            <button mat-raised-button>Login</button>
          </a>
        </ng-template>
      </div>
    </mat-toolbar>
  </header>

  <section class="content">
    <router-outlet></router-outlet>
  </section>

  <footer class="mainFooter">
    <mat-toolbar>
      <span class="authors">Awesome Conference brought to you by jbj and rr.</span>
    </mat-toolbar>
  </footer>
</div>
